body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.gametitle {
    position: absolute;
    left: 41%;
    width: 14.5%;
    height: 5%;
    background-color: #7fedf9;
    border: 3px solid rgb(0, 100, 255);
    color: black;
    font-style: italic;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}

.background {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
   }

.description {
    position: absolute;
    top: 30%;
    left: 31.5%;
    width: 35%;
    height: 35%;
    font-style: italic;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    color: #00bfdc;
}

.begingame {
    position: absolute;
    top: 70%;
    left: 46%;
    width: 5%;
    height: 5%;
    background-color: #7fedf9;
    border: 3px solid rgb(0, 100, 255);
    color: black;
    font-style: italic;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}